
.opening-container {
    background: #111;
    perspective: 200px;
    overflow: hidden;
    height: 100vh;
}

.opening-animation {
    width: 1000px;
    margin: 0 auto;
    transform: rotateX(30deg);
    animation: animationOpen 20s linear infinite;
}

.opening-title {
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    color: #fcd000;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.opening-subtitle {
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    color: #fcd000;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.opening-text {
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    color: #fcd000;
    font-weight: bold;
    padding-bottom: 50px;
    line-height: 1.3;
}

@keyframes animationOpen {
    0% {
        transform: rotateX(30deg) translateY(700px);
    }
    100% {
        transform: rotateX(30deg) translateY(-300px);
    }
}